@{
    ViewBag.Title = "About";
}


<div id="container">
    <div class="myContent">
        <h2>@ViewBag.Title</h2>
        <p>
            <b>KEEPONGEEKIN</b> is all about gaming, movies, tv shows, music and so much more.
        </p>
        <p>
            We are a couple of partners collaborating, with over 25 combinated years of experience in the gaming scene, where we even had a rooster within the CS 1.6 scene.
            And we are still going strong with the gaming.
        </p>
        <p>
            Everything from gaming or movie news to newly released trailers and so much more will be covered.
            Many titles will be tested and reviewed, so we invite you to enjoy our vision of a place pleasant to geeks.
        </p>
        <p></p>
        <p>
            We, the staff will always have an intelligent approach towards the fanbase and we'll try to make it easy and efficient for everyone.
        </p>
        <p>
            The site will grow not only with content but also with new functionality that you fans are strongy incouraged to contact and tips us about on what YOU would like to have or see on the site.
        </p>
        <p>
            All of you are welcommed to a new breed of community!
        </p>
        <p>
            We think that we will have a great time togheter!
        </p>
        <p></p>
        <p style="font-style:italic">
            <b>-The KeepOnGeekin staff</b>
        </p>
    </div>
</div>