@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Admin Page</title>
    <link href="~/styles/adminstyle.css" rel="stylesheet" />
</head>
<body>
    <table>
        <!--en rad med en cell och under en rad med två celler-->
        <form>
            <tr><td>Rubrik: </td><td><input type="textbox" value="Rubrik" name="Rubrikruta" /></td></tr>
            <!--rows och cols måste sättas automatiskt beroende på textens storlek.-->
            <tr><td>Text: </td><td><textarea rows="4" cols="50">  </textarea> </td></tr>
            <tr><td><input type="submit" value="Post" name="submit" /></td></tr>
        </form>
    </table>
</body>

</html>