@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Admin Page</title>
    <link href="~/styles/adminstyle.css" rel="stylesheet" />
</head>
<body>
    <table>
        <!--en rad med en cell och under en rad med två celler-->
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr><td>&nbsp;</td> <td>&nbsp;</td></tr>

    </table>
</body>

</html>