@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Admin Page</title>
    <link href="~/styles/adminstyle.css" rel="stylesheet" />
         <script>
            function resize() {
                var kolumner = document.getElementById("cols").value;
                if (isNaN(kolumner===false))
                {
                    document.getElementById("checkout").innerHTML="Not a valid numbers for cols!";
                }
                else
                {
                    document.getElementById("textarea").cols = kolumner;
                }
                var rader = document.getElementById("rows").value;
                if (isNanN(rader ===false))
                {
                    document.getElementById("checkout").innerHTML="Not a valid number for rows!";
                }
                else
                {
                    document.getElementById("textarea").rows = rader;
                }
                }
    </script>
    
</head>
<body>
    <input type="textbox" name="cols" value="Ange columner" id="cols"/>&nbsp;
    <input type="textbox" name="rows" value="Ange rader" id="rows" />
    <input type="submit" name="kolumnerochrader" value="Ändra antal kolumner och rader" onclick="resize()"/></button>
    <div id="checkout">Checks if you wrote numbers in order to resize the page</div>
    <table>
           <!--form is used in PHP to $_POST and $_GET variables
               if you have another soluion, free feel to post it-->
        
            <tr><td>Rubrik: </td><td><input type="textbox" value="Rubrik" name="Rubrikruta"/></td></tr>
            <!--rows och cols måste sättas automatiskt beroende på textens storlek.
             rows  = Specifies the visible number of lines in a text area
                cols - Specifies the visible width of a text area-->
            <tr><td> Text: </td><td> <textarea id="textarea"></textarea></td></tr>
            <tr><td><input type="submit" value="Post" name="submit" /></td><td><input type="submit" value="Resize" name="resize" onclick="resize()" /></button></td></tr>

        
       
    </table>
</body>

</html>