@{
    ViewBag.Title = "Advertising with us";
}

<div id="container">
    <div class="myContent">
        <h2>@ViewBag.Title</h2>
        <p>
            ADVERTISING WITH US
            If you want to advertise with us, we can offer you the following:
            - Banner or banners on the left and right side of the main page
            - Banner as head image on Twitter(over 1700 followers) and/or Facebook page (80 likes)
            - Sponsored posts
            - Image with the product on the webpage and/or Instagram
            - Tweets with hashtag, if wished to
            - Link to your site or product in the footer of the webpage

            For inquiries: <a href="/home/contact" class="footerLink">keepgeeking@gmail.com</a>
        </p>
    </div>
</div>
