@{
    ViewBag.Title = "Advertising with us";
}

<div id="container">
    <div class="myContent">
        <h2>@ViewBag.Title</h2>
        <p>
            <br/>
            If you want to advertise with us, we can offer you the following:<br/>
            - Banner or banners on the left and right side of the main page<br/>
            - Banner as head image on Twitter(over 1700 followers) and/or Facebook page (80 likes)<br>
            - Sponsored posts<br>
            - Image with the product on the webpage and/or Instagram<br>
            - Tweets with hashtag, if wished to<br>
            - Link to your site or product in the footer of the webpage<br>
            <br>
            
            For inquiries: <a href="/home/contact" class="footerLink">keepgeeking@gmail.com</a>
        </p>
    </div>
</div>
