@using Geekin.ViewModels
@model LoginVM
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@{
    ViewBag.Title = "Login";
}

<link href="~/styles/mystyle.css" rel="stylesheet" />
<body>
    <form asp-controller="Home" asp-action="Login">
        <br />
        <div class="col-md-5">
            <label asp-for="UserName"></label>
            <!--
                    märk stye="width: 300px" - den anger storleken på textlådan för lösenord
                 -->
            
            <input asp-for="UserName" class="form-control custom" style="width:300px;" placeholder="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <br /><br /><br /><br />
        <div class="col-md-5">
            <label asp-for="Password"></label>
            <br />
            <!--
                märk stye="width: 300px" - den anger storleken på textlådan för lösenord
            -->         
            <input asp-for="Password" class="form-control custom" style="width:300px;" placeholder="Password" />
            <span asp-validation-for="Password"></span>
            <br />
            <br />
            <input type="submit" value="Login" class="btn btn-success" data-dismiss="modal" />
        </div>
</form>
</body>
@*<script src="~/scripts/jquery.min.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>*@