@using Geekin.ViewModels
@model AddPostVM
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

@{
    ViewBag.Title = "Create a new post";
}

<body>
    <form asp-controller="Admin" asp-action="AddPost">
        <label asp-for="Title"></label>
        <br />
        <input asp-for="Title" placeholder="Title" onfocus="if (this.placeholder == 'Title') { this.placeholder = ''; }" />
        <span asp-validation-for="Title"></span>
        <br /><br>
        @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control"} })
       <span asp-validation-for="Text"></span>
            <label asp-for="Text"></label>
            <br />
            @*@Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })*@
            <textarea asp-for="Text" id="mytextarea" name="mytextarea"></textarea>
            @*@Html.TextArea("Text", new {cols=60, rows=10})*@
            @*@Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })*@
        @*</textarea>*@
            <input asp-for="Link" placeholder="Link" onfocus="if (this.placeholder == 'Link') { this.Link = ''; }" />
            <span asp-validation-for="Link"></span>
            <br />
            <br />
            <input type="submit" value="Post" class="btn btn-success" data-dismiss="modal" />
</form>
</body>
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>