@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<!DOCTYPE html>
<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    @* Bootstrap *@
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    @* Navbar *@
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- FontAwesome icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- Tab icon -->
    <link rel="icon" href="~/pictures/geekin.png">
    <!-- TinyMce -->
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script>
        /* TinyMCE */
        tinymce.init({
            selector: 'textarea#mytextarea',
            plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table contextmenu paste code',
                    'textcolor colorpicker'
            ],
            toolbar: 'forecolor backcolor | undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | media',
            //Tar bort <p> et i nedre raden i TinyMCE editorn
            forced_root_block: "",
            //Tar bort File->New Document
            removed_menuitems: 'newdocument'
        });

        /* Sticky navbar */
        $(document).ready(function () {

            var menu = $('.navbar');
            var origOffsetY = menu.offset().top;

            function scroll() {
                if ($(window).scrollTop() >= origOffsetY) {
                    $('.navbar').addClass('sticky');
                    $('.container').addClass('menu-padding');
                } else {
                    $('.navbar').removeClass('sticky');
                    $('.container').removeClass('menu-padding');
                }
            }
            document.onscroll = scroll;
        });
    </script>
    @* CSS *@
    <link href="~/styles/mystyle.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="header"><img src="~/pictures/geeking header lunapic 2.png" class="resizeHeader" /></div>
    <div class="container-fluid">        @* id="container" *@
        @* Navbar *@
        <div class="row">
            <nav class="navbar navbar-inverse" id="myNavbar">
                @* navbar-fixed-top *@
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/home/index"> <img src="~/pictures/geekinlogo.jpg" class="resize" /> </a>
                    </div>
                    <div class="navbar-collapse collapse" id="myNavbarCollapsed">
                        @* Navbar buttons *@
                        <ul class="nav navbar-nav nav-pills nav-stacked" id="myNavbarItems">
                            <li class="active"><a href="/home/index">Home</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Page 1-1</a></li>
                                    <li><a href="#">Page 1-2</a></li>
                                    <li><a href="#">Page 1-3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#">Page 3</a></li>
                        </ul>

                        @* Social media links *@
                        <ul class="nav navbar-nav navbar-right">
                            @* Search box *@
                            <li>
                                <div class="searchbox">
                                    @* col-md-5 *@
                                    <form action="" class="search-form">
                                        <div class="form-group has-feedback">
                                            <label for="search" class="sr-only">Search</label>
                                            <input type="text" class="form-control" name="search" id="search" placeholder="search">
                                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li><a href="http://facebook.com/keepongeekin"><span class="fa fa-facebook-official fa-1x"></span></a></li>
                            <li><a href="https://www.instagram.com/geekeenboy/"><span class="fa fa-instagram"></span></a></li>
                            <li><a href="http://twitter.com/geekeenboy"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="/home/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div id="main">
        <div id="main_left">@RenderBody()</div>
        <div id="main_right">Sidebar</div>
    </div>
    <div id="footer">4 Footer</div>

    <div>

    </div>
    <script type="text/javascript">
        /* Floating BackToTop button */
        // create the back to top button
        $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
        var amountScrolled = 300;

        $(window).scroll(function () {
            if ($(window).scrollTop() > amountScrolled) {
                $('a.back-to-top').fadeIn('slow');
            } else {
                $('a.back-to-top').fadeOut('slow');
            }
        });

        $('a.back-to-top, a.simple-back-to-top').click(function () {
            $('html, body').animate({
                scrollTop: 0
            }, 700);
            return false;
        });
    </script>
</body>
</html>
