@using Geekin.ViewModels
@model MasterOneVM
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"


@{ 
//List<string> allCategories = new List<string>();
//List<string> singles = new List<string>();

//foreach (var item in Model.BlogPosts)
//{
//    //    allCategories.Add(item.Category);
//}

//for (int i = 0; i < allCategories.Count; i++)
//{
//singles = allCategories.GroupBy(n => n)
//                     .Where(g => g.Count() == 1)
//                     .Select(g => g.Key)
//                     .ToList();
//}

}



@foreach (var item in Model.Categories)
{
    <li>
        @*<a href="#" data-value=@item.CategoryName>
            <h5>@item.CategoryName</h5>
        </a>*@

        <div class="categoryDrop categoryDropAdd"><b>@Html.ActionLink(@item.CategoryName, "Category", "Home", new { myCategory = @item.CategoryName }, null)</b></div>
    </li>
}